@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 62.5%;
  --danger-text-color: #ef4444;
  --danger-text-color-normal: #f87171;
  --danger-text-color-light: #f99f9f;
  --online-color: #00dd00;
  --offline-color: #808080;
}

[data-theme="light"] {
  --main-color-extrabold: #cca1ba;
  --main-color-bold: #e6acce;
  --main-color: #ffb7e1;
  /* --main-color-light: #f5bcba; */
  --main-color-light: #ffc5e7;
  --main-color-thin: #ffd4ed;
  --main-color-extrathin: #ffe2f3;
  --sub-color: #ffffff;

  --bg-color: #ffffff;
  --bg-color-medium: #d4d4d4;
  --bg-color-light: #e8e8e8;
  --bg-color-thin: #ebebeb;
  --bg-color-extrathin: #f4f4f4;

  --text-main-color: #000000;
  --text-main-color-blur: #0000007c;
  --text-main-color-light: #262626;
  --text-main-color-thin: #2e2e2e;
  --text-sub-color: #000000;
  --text-sub-color-thin: #0000009b;

  --shadow-color: gray;
  --border-color: #e5e7eb;
  --icon-text-color: gray;
  --loading-color: #eeeeee;
  --portal-bg-color: #a2a2a2a7;
  --portal-container-bg-color: #e8e8e8;
  --search-bg-color: #f3f4f6;
  --placehoder-color: #eeeeee;
  --loading-bg-color: #808080ca;
}

[data-theme="dark"] {
  --main-color-extrabold: #213a57;
  --main-color-bold: #0b6477;
  --main-color: #1fd6e3;
  --main-color-light: #6df1b6;
  --main-color-extrathin: #b9f58b;
  --sub-color: #333333;

  --bg-color: #000000;
  --bg-color-light: #1b1b1b;
  --bg-color-thin: #272727;
  --bg-color-extrathin: #363636;

  --text-main-color: #ffffff;
  --text-main-color-blur: #ffffff88;
  --text-main-color-light: #dcdcdc;
  --text-main-color-thin: #bdbdbd;
  --text-sub-color: #121212;
  --text-sub-color-thin: #3e7c5b;

  --shadow-color: gray;
  --border-color: #d1d5db;
  --icon-text-color: gray;
  --loading-color: #121212b2;
  --portal-bg-color: #afafaf9f;
  --portal-container-bg-color: #e8e8e8;
  --search-bg-color: #f3f4f6;
}

html,
body,
#root {
  font-family: "Mulish";
  /* font-family: 'Roboto'; */
  /* font-family: 'Montserrat'; */
  /* font-family: SegoeuiPc,Segoe UI,San Francisco,Helvetica Neue,Helvetica,Lucida Grande,Roboto,Ubuntu,Tahoma,Microsoft Sans Serif,Arial,sans-serif; */
  /* font-family: sans-serif; */
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  scrollbar-width: none;
}

@layer components {
  .hide-scrollbar {
    &::-webkit-scrollbar {
      display: none;
    }

    scrollbar-width: none;
    /* For Firefox */
  }

  .custom-scrollbar {
    &::-webkit-scrollbar {
      height: 10px;
      /* width: 100px;       */
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: var(--bg-color-thin);
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--bg-color-medium);
      border-radius: 10px;
    }
  }

  .grid-transition {
    transition: all 2s;
  }

  .mention-input {
    border-radius: 0;
    border: none !important;
    box-shadow: none !important;

    &:hover {
      outline: unset !important;
    }

    textarea {
      border: 0.2rem #ffb7df solid;
      border-radius: 1rem;
      padding: 0.7rem 4rem 0.7rem 2rem;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      scrollbar-width: none;
      /* For Firefox */
    }
  }

  .close-button {
    background-image: var(--bs-btn-close-bg);
  }

  .error-show {
    @apply !scale-x-100;
  }

  .waving-text {
    animation: waving-text 1.3s both infinite;
    animation-delay: calc(0.1s * var(--i));
  }

  @keyframes waving-text {
    0%,
    40%,
    100% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-2rem);
    }
  }

  .pulsing {
    animation: pulsing 1s both infinite;
  }

  @keyframes pulsing {
    0% {
      transform: scale(1);
      opacity: 0;
      /* box-shadow: 0 0 0 0 red; */
    }
    30% {
      /* transform: scale(1);   */
      opacity: 1;
    }
    100% {
      transform: scale(1.5);
      opacity: 0;
      /* transform: scale(0.95); */
      /* box-shadow: 0 0 .5rem .1rem red; */
    }
  }

  .tooltip-wrapper .custom-tooltip {
    font-size: 1.3rem;
  }

  .blurred-div {
    /* background-image: var(--image-url); */
    /* background-repeat: no-repeat; */
    /* background-size: cover;
    background-position: center;
    background-color: greenyellow; */
    position: relative;
  }

  .blurred-div img {
    /* object-position: center;
    object-fit: contain;     */
    border-radius: 1rem;
    /* width: 20rem;
    height: 12rem;
    scale:1.5; */
    opacity: 0.3;
    transition: opacity 500ms ease-in-out;
  }

  .blurred-div.loaded img {
    opacity: 1;
  }

  /* .blurred-div::before {
    content: "";
    position: absolute;
    inset: 0;
    animation: pulse 2.5s infinite;
  } */

  @keyframes pulse {
    0% {
      background-color: rgba(255, 255, 255, 0);
    }
    50% {
      background-color: rgba(255, 255, 255, 0.5);
    }
    100% {
      background-color: rgba(255, 255, 255, 0);
    }
  }

  /* .blurred-div.loaded::before {    
    content: none;
  } */

  /* .lazy-background.blurred {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  } */

  .lazy-image.blurred {
    opacity: 0.5;
  }

  .relight-background {
    /* border-radius: 50%;
    transition: all;
    transition-duration: 200ms;
    background-color: var(--bg-color-normal);
    aspect-ratio: 1/1; */
    /* padding: .8rem; */
    width: 0;
    height: 0;

    &.lighten {
      box-shadow: 0 0 20px 10px var(--main-color);
    }

    &:hover {
      /* border-radius: 1rem; */
      box-shadow: 0 0 20px 10px var(--main-color);
      /* color: var(--text-main-color-normal); */
      /* box-shadow: 0 0 20px 10px var(--text-main-color); */
    }
  }

  .lazy-background {
    background-image: url("images/svg-spinners--bars-rotate-fade.svg");
  }

  .lazy-background-sm {
    background-image: url("images/svg-spinners--bars-rotate-fade.svg");
    background-size: 10% !important;
  }

  /* [contentEditable=true]:empty:not(:focus)::before {
    content: attr(data-text);
    color: var(--text-main-color-blur);
  } */

  .base-icon-lg {
    @apply flex cursor-pointer items-center justify-center font-light phone:text-base laptop:text-base desktop:text-lg;
  }
  .base-icon {
    @apply  flex cursor-pointer items-center justify-center font-light phone:text-md laptop:text-md desktop:text-xl;
  }
  .base-icon-sm {
    @apply flex cursor-pointer items-center justify-center font-light phone:text-lg laptop:text-lg desktop:text-xl;
  }

  .gradient-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gradient-item::after {
    content: "";
    position: absolute;
    z-index: -1;
    /* border-radius: 3rem; */
    border-radius: var(--rounded);
    background-image: linear-gradient(
      to top right,
      var(--from-color, var(--main-color)),
      var(--to-color, var(--main-color-extrabold))
    );
    /* background-color: red; */
    height: var(--height);
    width: var(--width);
    /* top: 50%;
    left: 50%;
    translate: -50% -50%; */

    /* @apply absolute z-[-1] rounded-[3rem]  bg-gradient-to-tr from-[var(--main-color)] to-[var(--main-color-extrathin)] ${gradientClass ?? "after:h-[112%] after:w-[102%]"} */
  }

  .nolazy-image {
    opacity: 0.5;

    &.loaded {
      opacity: 1;
    }
  }

  svg {
    cursor: pointer;
    /* transition: all 0.1s; */
  }

  /* svg.hovered {
    fill: var(--main-color-bold);
  } */

  svg .active {
    fill: var(--main-color-bold);
  }


  .message-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Full height */
  }
  
  .messages-container {
    flex-grow: 1; /* Makes the message container fill available space */
    overflow: hidden; /* Prevents extra scrollbars */
  }
  
  .chat-input-container {
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
    background: #f9f9f9;
    transition: height 0.2s; /* Smooth height change */
  }
  
  textarea {
    flex-grow: 1;
    resize: none; /* Prevent manual resizing */
  }
  
  .home-container {
    @apply absolute flex h-full w-full bg-[var(--bg-color)] phone:flex-col-reverse laptop:flex-row
  }

  .sidebar-container {
    @apply shrink-0 border-r-[.1rem] border-r-[var(--border-color)] flex items-center px-[1rem] pt-[1rem]
    phone:w-full laptop:w-[7rem] desktop:w-[10rem]
    laptop:flex-col phone:flex-row 
  }

  /* video {
    width: 300px;
    height: 200px;
    background: #000;
    border: 2px solid #444;
    border-radius: 10px;
  } */

  button {
    aspect-ratio: 1/1;
    width: 5rem;
    border-radius: 50%;
    /* padding: 0.3rem; */
    background: #ffffff;
  }

  .centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #portal {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* position:relative; */
    width: 100%;  
    height: 100%;
  }
}
