@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 62.5%;
  --danger-text-color: #ef4444;
  --danger-text-color-normal: #f87171;
  --danger-text-color-light: #f99f9f;
}

[data-theme="light"] {
  /* --main-color: #f472b6;
  --main-color-extrabold: #be185d;
  --main-color-bold: #db2777;
  --main-color-medium: #ec4899;
  --main-color-normal: #f9a8d4;
  --main-color-light: #fbcfe8;
  --main-color-thin: #fce7f3; */
  --main-color: #00AFB9;
  --main-color-extrabold: #00464a;
  --main-color-bold: #00696f;
  --main-color-medium: #008c94;
  --main-color-normal: #33bfc7;
  --main-color-light: #66cfd5;
  --main-color-thin: #99dfe3;
  --main-color-extrathin: #cceff1;
  --sub-color: white;
  --bg-color: white;
  --text-main-color: black;
  --text-main-color-blur: #0000007c;
  --text-sub-color: white;
  --text-sub-color-blur: #ffffffcb;
  --shadow-color: gray;
  --shadow-color-blur: #80808048;
  --border-color: #d1d5db;
  --icon-text-color: gray;
  /* --portal-bg-color: #0000009c; */
  --portal-bg-color: #ffffffb7;
  --search-bg-color: #f3f4f6;
}

[data-theme="dark"] {
  /* --main-color: #f472b6;
  --main-color-extrabold: #be185d;
  --main-color-bold: #db2777;
  --main-color-medium: #ec4899;
  --main-color-normal: #f9a8d4;
  --main-color-light: #fbcfe8;
  --main-color-thin: #fce7f3; */
  --main-color-extrabold: #125867;
  --main-color-bold: #106a7a;
  --main-color-medium: #088496;
  --main-color: #00a1b3;
  /* --main-color-normal: ##00ddde; */
  --main-color-light: #00d2de;
  --main-color-thin: #18eff8;
  --main-color-extrathin: #60fcff;
  --sub-color: #333333;
  /* --bg-color-extrabold: #070707;
  --bg-color-bold: #0b0b0b;
  --bg-color-medium: #0e0e0e; */  
  --bg-color: #000000;
  /* --bg-color-normal: #282828; */
  --bg-color-light: #272727;
  --bg-color-thin: #303030;
  --bg-color-extrathin: #424242;
  --text-main-color: #ffffff;
  --text-main-color-blur: #ffffff38;
  /* --text-main-color-normal: #e6e6e6; */
  --text-main-color-light: #dcdcdc;
  --text-main-color-thin: #bdbdbd;
  --text-sub-color: #121212;
  --text-sub-color-light: #3d3d3d;
  --text-sub-color-thin: #454545;
  --shadow-color: gray;
  --border-color: #d1d5db;
  --icon-text-color: gray;
  --loading-color: #121212b2;
  /* --portal-bg-color: #0000009c; */
  --portal-bg-color: #afafaf9f;
  --search-bg-color: #f3f4f6;
  --online-color: #00dd00;
  --offline-color: #808080;
}

html,
body,
#root {
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  scrollbar-width: none;
}

@layer components {
  .hide-scrollbar {
    &::-webkit-scrollbar {
      display: none;      
    }

    scrollbar-width: none;
    /* For Firefox */
  }

  .custom-scrollbar {
    &::-webkit-scrollbar {
      height: 10px;
      /* width: 100px;       */
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: var(--bg-color-thin); 
      border-radius: 10px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--bg-color); 
      border-radius: 10px;
    }    
  }

  .grid-transition {
    transition: all 2s;
  }

  .mention-input {
    border-radius: 0;
    border: none !important;
    box-shadow: none !important;

    &:hover {
      outline: unset !important;
    }

    textarea {
      border: 0.2rem #ffb7df solid;
      border-radius: 1rem;
      padding: 0.7rem 4rem 0.7rem 2rem;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      scrollbar-width: none;
      /* For Firefox */
    }
  }

  .close-button {
    background-image: var(--bs-btn-close-bg);
  }

  .error-show {
    @apply !scale-x-100;
  }

  .waving-text{
    animation: waving-text 1.3s both infinite;
    animation-delay: calc(.1s * var(--i));    
  }

  @keyframes waving-text {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-2rem)
    }
  }

  .pulsing{
    animation: pulsing 1s both infinite;    
  }

  @keyframes pulsing {
    0% {
      transform: scale(1);
      opacity: 0;
      /* box-shadow: 0 0 0 0 red; */      
    }
    30% {
      /* transform: scale(1);   */
      opacity: 1;    
    }
    100% {      
      transform: scale(1.5);
      opacity: 0;
      /* transform: scale(0.95); */
      /* box-shadow: 0 0 .5rem .1rem red; */
    }
  }

  .tooltip-wrapper .custom-tooltip {
    font-size: 1.3rem;
  }

  .blurred-div {
    /* background-image: var(--image-url); */
    /* background-repeat: no-repeat; */
    /* background-size: cover;
    background-position: center;
    background-color: greenyellow; */
    position: relative;
  }
  
  .blurred-div img {
    /* object-position: center;
    object-fit: contain;     */
    border-radius: 1rem;
    /* width: 20rem;
    height: 12rem;
    scale:1.5; */
    opacity: 0.3;
    transition: opacity 500ms ease-in-out;
  }
  
  .blurred-div.loaded img {
    opacity: 1;
  }

  /* .blurred-div::before {
    content: "";
    position: absolute;
    inset: 0;
    animation: pulse 2.5s infinite;
  } */
  
  @keyframes pulse {
    0% {
      background-color: rgba(255,255,255,0);
    }
    50% {
      background-color: rgba(255,255,255,0.5);
    }
    100% {
      background-color: rgba(255,255,255,0);
    }
  }

  /* .blurred-div.loaded::before {    
    content: none;
  } */

  /* .lazy-background.blurred {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  } */

  .lazy-image.blurred {
    opacity: 0.5;
  }

  .relight-background {
    /* border-radius: 50%;
    transition: all;
    transition-duration: 200ms;
    background-color: var(--bg-color-normal);
    aspect-ratio: 1/1; */
    /* padding: .8rem; */
    width: 0;
    height: 0;

    &.lighten {
      box-shadow: 0 0 20px 10px var(--main-color);
    }

    &:hover {
      /* border-radius: 1rem; */
      box-shadow: 0 0 20px 10px var(--main-color);
      /* color: var(--text-main-color-normal); */
      /* box-shadow: 0 0 20px 10px var(--text-main-color); */
    }
  }

  .lazy-background {
    background-image: url('images/svg-spinners--bars-rotate-fade.svg');
  }

  .lazy-background-sm {
    background-image: url('images/svg-spinners--bars-rotate-fade.svg');
    background-size: 10% !important;
  }

  /* [contentEditable=true]:empty:not(:focus)::before {
    content: attr(data-text);
    color: var(--text-main-color-blur);
  } */
}