[data-theme="light"] {
  --main-color-extrabold: #cca1ba;
  --main-color-bold: #e6acce;
  --main-color: #ffb7e1;
  /* --main-color-light: #f5bcba; */
  --main-color-light: #ffc5e7;
  --main-color-thin: #ffd4ed;
  --main-color-extrathin: #ffe2f3;
  --sub-color: #ffffff;

  --bg-color: #ffffff;
  --bg-color-medium: #d4d4d4;
  --bg-color-light: #e8e8e8;
  --bg-color-thin: #ebebeb;
  --bg-color-extrathin: #f4f4f4;

  --text-main-color: #000000;
  --text-main-color-blur: #0000007c;
  --text-main-color-light: #262626;
  --text-main-color-thin: #2e2e2e;
  --text-sub-color: #000000;
  --text-sub-color-thin: #0000009b;

  --shadow-color: gray;
  --border-color: #e5e7eb;
  --icon-text-color: gray;
  --loading-color: #d5d5d5;
  --portal-bg-color: #a2a2a2a7;
  --portal-container-bg-color: #e8e8e8;
  --search-bg-color: #f3f4f6;
  --placehoder-color: #eeeeee;
  --loading-bg-color: #808080ca;
}

[data-theme="dark"] {
  --main-color-extrabold: #213a57;
  --main-color-bold: #0b6477;
  --main-color: #1fd6e3;
  --main-color-light: #6df1b6;
  --main-color-extrathin: #b9f58b;
  --sub-color: #333333;

  --bg-color: #000000;
  --bg-color-light: #1b1b1b;
  --bg-color-thin: #272727;
  --bg-color-extrathin: #363636;

  --text-main-color: #ffffff;
  --text-main-color-blur: #ffffff88;
  --text-main-color-light: #dcdcdc;
  --text-main-color-thin: #bdbdbd;
  --text-sub-color: #121212;
  --text-sub-color-thin: #3e7c5b;

  --shadow-color: gray;
  --border-color: #d1d5db;
  --icon-text-color: gray;
  --loading-color: #121212b2;
  --portal-bg-color: #afafaf9f;
  --portal-container-bg-color: #e8e8e8;
  --search-bg-color: #f3f4f6;
}
