body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root,
.wrapper {
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* background: rgb(3, 3, 57); */
  background-image: url('./img/sunset.webp');
  background-size: 100% 100%;
  /* background-size: var(--width); */
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size .3s;
}

/* Main */

main {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main::-webkit-scrollbar {
  width: 15px;
}

main::-webkit-scrollbar-track {
  background: rgb(118, 118, 193);
  border-radius: 10px;
  margin-block: 10px;
  box-shadow: 0 0 5px 1px rgb(3, 3, 57) inset;
}

main::-webkit-scrollbar-thumb {
  background: rgb(196, 196, 196);
  border-radius: 10px;
  border: 3px solid rgb(118, 118, 193);
}

main::-webkit-scrollbar-thumb:hover {
  background: rgb(163, 163, 163);
}