@utility message-menu-container {
  position: absolute;
  transform: scale(0);
  transition: transform 0.2s ease;
  pointer-events: none;
  display: block;
  border-radius: 0.7rem;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0.3rem 0;
  &[data-show="true"] {
    z-index: 2;
  }
  &[data-show="false"] {
    z-index: 0;
  }
}

@utility message-menu-container {
  &[data-show="true"] {
    transform: scale(1);
    pointer-events: auto;
  }
}

@utility message-menu-container {
  &.above {
    top: -5rem;
  }

  &.below {
    top: -3rem;
  }
}

@utility message-menu-item {
  display: flex;
  cursor: pointer;
  gap: 1rem;
  padding: 0.5rem 1rem;
  align-items: center;
}

@utility message-menu-item {
  &:hover {
    background-color: var(--bg-color-extrathin);
  }
}
