@utility message-menu-container {
  position: absolute;
  transform: scale(0);
  transition: transform 0.2s ease;
  transform-origin: right center;
  /* pointer-events: none; */
  display: flex;
  border-radius: 0.7rem;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0.3rem;

  .group:hover &,
  &:hover {
    transform: scale(1);
    z-index: 2;
  }

  &[data-mine="true"] {
    left: -8.25rem;
  }
  &[data-mine="false"] {
    right: -8.25rem;
    transform-origin: left center;
  }
}

@utility message-menu-container {
  &.above {
    top: -5rem;
  }

  &.below {
    top: -3rem;
  }
}

@utility message-menu-item {
  display: flex;
  cursor: pointer;
  gap: 1rem;
  padding: 0.2rem 0.5rem;
  align-items: center;
}

@utility message-menu-item {
  &:hover {
    background-color: var(--bg-color-extrathin);
  }
}
