@utility message-menu-container {
  position: absolute;
  transform: scale(0);
  transition: transform 0.2s ease;
  pointer-events: none;
  display: block;
  border-radius: 0.7rem;
  background-color: var(--bg-color-thin);
  padding-top: 1rem;
  padding-bottom: 1rem;
  &[data-show="true"] {
    z-index: 2;
  }
  &[data-show="false"] {
    z-index: 0;
  }
}

@utility message-menu-container {
  &[data-show="true"] {
    transform: scale(1);
    pointer-events: auto;
  }
}

@utility message-menu-container {
  &.above {
    top: -12rem;
  }

  &.below {
    top: -3rem;
  }
}

@utility message-menu-item {
  display: flex;
  cursor: pointer;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

@utility message-menu-item {
  &:hover {
    background-color: var(--bg-color-medium);
  }
}
