/MyConnect/Authentication.API/*.swp
/MyConnect/Authentication.API/*.*~
/MyConnect/Authentication.API/project.lock.json
/MyConnect/Authentication.API/.DS_Store
/MyConnect/Authentication.API/*.pyc
/MyConnect/Authentication.API/nupkg/

# Visual Studio Code
#.vscode/

# Rider
/MyConnect/Authentication.API/.idea/

# Visual Studio
/MyConnect/Authentication.API/.vs/

# Fleet
/MyConnect/Authentication.API/.fleet/

# Code Rush
/MyConnect/Authentication.API/.cr/

# User-specific files
/MyConnect/Authentication.API/*.suo
/MyConnect/Authentication.API/*.user
/MyConnect/Authentication.API/*.userosscache
/MyConnect/Authentication.API/*.sln.docstates

# Build results
/MyConnect/Authentication.API/[Dd]ebug/
/MyConnect/Authentication.API/[Dd]ebugPublic/
/MyConnect/Authentication.API/[Rr]elease/
/MyConnect/Authentication.API/[Rr]eleases/
/MyConnect/Authentication.API/x64/
/MyConnect/Authentication.API/x86/
/MyConnect/Authentication.API/build/
/MyConnect/Authentication.API/bld/
/MyConnect/Authentication.API/[Bb]in/
/MyConnect/Authentication.API/[Oo]bj/
/MyConnect/Authentication.API/[Oo]ut/
/MyConnect/Authentication.API/msbuild.log
/MyConnect/Authentication.API/msbuild.err
/MyConnect/Authentication.API/msbuild.wrn




/MyConnect/Chat.API/*.swp
/MyConnect/Chat.API/*.*~
/MyConnect/Chat.API/project.lock.json
/MyConnect/Chat.API/.DS_Store
/MyConnect/Chat.API/*.pyc
/MyConnect/Chat.API/nupkg/

# Visual Studio Code
#.vscode/

# Rider
/MyConnect/Chat.API/.idea/

# Visual Studio
/MyConnect/Chat.API/.vs/

# Fleet
/MyConnect/Chat.API/.fleet/

# Code Rush
/MyConnect/Chat.API/.cr/

# User-specific files
/MyConnect/Chat.API/*.suo
/MyConnect/Chat.API/*.user
/MyConnect/Chat.API/*.userosscache
/MyConnect/Chat.API/*.sln.docstates

# Build results
/MyConnect/Chat.API/[Dd]ebug/
/MyConnect/Chat.API/[Dd]ebugPublic/
/MyConnect/Chat.API/[Rr]elease/
/MyConnect/Chat.API/[Rr]eleases/
/MyConnect/Chat.API/x64/
/MyConnect/Chat.API/x86/
/MyConnect/Chat.API/build/
/MyConnect/Chat.API/bld/
/MyConnect/Chat.API/[Bb]in/
/MyConnect/Chat.API/[Oo]bj/
/MyConnect/Chat.API/[Oo]ut/
/MyConnect/Chat.API/msbuild.log
/MyConnect/Chat.API/msbuild.err
/MyConnect/Chat.API/msbuild.wrn


/MyConnect/Domain/*.swp
/MyConnect/Domain/*.*~
/MyConnect/Domain/project.lock.json
/MyConnect/Domain/.DS_Store
/MyConnect/Domain/*.pyc
/MyConnect/Domain/nupkg/

# Visual Studio Code
#.vscode/

# Rider
/MyConnect/Domain/.idea/

# Visual Studio
/MyConnect/Domain/.vs/

# Fleet
/MyConnect/Domain/.fleet/

# Code Rush
/MyConnect/Domain/.cr/

# User-specific files
/MyConnect/Domain/*.suo
/MyConnect/Domain/*.user
/MyConnect/Domain/*.userosscache
/MyConnect/Domain/*.sln.docstates

# Build results
/MyConnect/Domain/[Dd]ebug/
/MyConnect/Domain/[Dd]ebugPublic/
/MyConnect/Domain/[Rr]elease/
/MyConnect/Domain/[Rr]eleases/
/MyConnect/Domain/x64/
/MyConnect/Domain/x86/
/MyConnect/Domain/build/
/MyConnect/Domain/bld/
/MyConnect/Domain/[Bb]in/
/MyConnect/Domain/[Oo]bj/
/MyConnect/Domain/[Oo]ut/
/MyConnect/Domain/msbuild.log
/MyConnect/Domain/msbuild.err
/MyConnect/Domain/msbuild.wrn


/MyConnect/Infrastructure/*.swp
/MyConnect/Infrastructure/*.*~
/MyConnect/Infrastructure/project.lock.json
/MyConnect/Infrastructure/.DS_Store
/MyConnect/Infrastructure/*.pyc
/MyConnect/Infrastructure/nupkg/

# Visual Studio Code
#.vscode/

# Rider
/MyConnect/Infrastructure/.idea/

# Visual Studio
/MyConnect/Infrastructure/.vs/

# Fleet
/MyConnect/Infrastructure/.fleet/

# Code Rush
/MyConnect/Infrastructure/.cr/

# User-specific files
/MyConnect/Infrastructure/*.suo
/MyConnect/Infrastructure/*.user
/MyConnect/Infrastructure/*.userosscache
/MyConnect/Infrastructure/*.sln.docstates

# Build results
/MyConnect/Infrastructure/[Dd]ebug/
/MyConnect/Infrastructure/[Dd]ebugPublic/
/MyConnect/Infrastructure/[Rr]elease/
/MyConnect/Infrastructure/[Rr]eleases/
/MyConnect/Infrastructure/x64/
/MyConnect/Infrastructure/x86/
/MyConnect/Infrastructure/build/
/MyConnect/Infrastructure/bld/
/MyConnect/Infrastructure/[Bb]in/
/MyConnect/Infrastructure/[Oo]bj/
/MyConnect/Infrastructure/[Oo]ut/
/MyConnect/Infrastructure/msbuild.log
/MyConnect/Infrastructure/msbuild.err
/MyConnect/Infrastructure/msbuild.wrn


/MyConnect/Application/*.swp
/MyConnect/Application/*.*~
/MyConnect/Application/project.lock.json
/MyConnect/Application/.DS_Store
/MyConnect/Application/*.pyc
/MyConnect/Application/nupkg/

# Visual Studio Code
#.vscode/

# Rider
/MyConnect/Application/.idea/

# Visual Studio
/MyConnect/Application/.vs/

# Fleet
/MyConnect/Application/.fleet/

# Code Rush
/MyConnect/Application/.cr/

# User-specific files
/MyConnect/Application/*.suo
/MyConnect/Application/*.user
/MyConnect/Application/*.userosscache
/MyConnect/Application/*.sln.docstates

# Build results
/MyConnect/Application/[Dd]ebug/
/MyConnect/Application/[Dd]ebugPublic/
/MyConnect/Application/[Rr]elease/
/MyConnect/Application/[Rr]eleases/
/MyConnect/Application/x64/
/MyConnect/Application/x86/
/MyConnect/Application/build/
/MyConnect/Application/bld/
/MyConnect/Application/[Bb]in/
/MyConnect/Application/[Oo]bj/
/MyConnect/Application/[Oo]ut/
/MyConnect/Application/msbuild.log
/MyConnect/Application/msbuild.err
/MyConnect/Application/msbuild.wrn



/MyConnect/Shared/*.swp
/MyConnect/Shared/*.*~
/MyConnect/Shared/project.lock.json
/MyConnect/Shared/.DS_Store
/MyConnect/Shared/*.pyc
/MyConnect/Shared/nupkg/

# Visual Studio Code
#.vscode/

# Rider
/MyConnect/Shared/.idea/

# Visual Studio
/MyConnect/Shared/.vs/

# Fleet
/MyConnect/Shared/.fleet/

# Code Rush
/MyConnect/Shared/.cr/

# User-specific files
/MyConnect/Shared/*.suo
/MyConnect/Shared/*.user
/MyConnect/Shared/*.userosscache
/MyConnect/Shared/*.sln.docstates

# Build results
/MyConnect/Shared/[Dd]ebug/
/MyConnect/Shared/[Dd]ebugPublic/
/MyConnect/Shared/[Rr]elease/
/MyConnect/Shared/[Rr]eleases/
/MyConnect/Shared/x64/
/MyConnect/Shared/x86/
/MyConnect/Shared/build/
/MyConnect/Shared/bld/
/MyConnect/Shared/[Bb]in/
/MyConnect/Shared/[Oo]bj/
/MyConnect/Shared/[Oo]ut/
/MyConnect/Shared/msbuild.log
/MyConnect/Shared/msbuild.err
/MyConnect/Shared/msbuild.wrn


/MyConnect/Presentation/*.swp
/MyConnect/Presentation/*.*~
/MyConnect/Presentation/project.lock.json
/MyConnect/Presentation/.DS_Store
/MyConnect/Presentation/*.pyc
/MyConnect/Presentation/nupkg/

# Visual Studio Code
#.vscode/

# Rider
/MyConnect/Presentation/.idea/

# Visual Studio
/MyConnect/Presentation/.vs/

# Fleet
/MyConnect/Presentation/.fleet/

# Code Rush
/MyConnect/Presentation/.cr/

# User-specific files
/MyConnect/Presentation/*.suo
/MyConnect/Presentation/*.user
/MyConnect/Presentation/*.userosscache
/MyConnect/Presentation/*.sln.docstates

# Build results
/MyConnect/Presentation/[Dd]ebug/
/MyConnect/Presentation/[Dd]ebugPublic/
/MyConnect/Presentation/[Rr]elease/
/MyConnect/Presentation/[Rr]eleases/
/MyConnect/Presentation/x64/
/MyConnect/Presentation/x86/
/MyConnect/Presentation/build/
/MyConnect/Presentation/bld/
/MyConnect/Presentation/[Bb]in/
/MyConnect/Presentation/[Oo]bj/
/MyConnect/Presentation/[Oo]ut/
/MyConnect/Presentation/msbuild.log
/MyConnect/Presentation/msbuild.err
/MyConnect/Presentation/msbuild.wrn


# Test
/MyConnect/test/[Bb]in/
/MyConnect/test/[Oo]bj/



# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
/client.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*



# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/MyConnect/client/node_modules
/MyConnect/client/.pnp
/MyConnect/client.pnp.js

# testing
/MyConnect/client/coverage

# production
/MyConnect/client/build

# misc
/MyConnect/client/.DS_Store
/MyConnect/client/.env.local
/MyConnect/client/.env.development.local
/MyConnect/client/.env.test.local
/MyConnect/client/.env.production.local

/MyConnect/client/npm-debug.log*
/MyConnect/client/yarn-debug.log*
/MyConnect/client/yarn-error.log*