/Authentication.API/*.swp
/Authentication.API/*.*~
/Authentication.API/project.lock.json
/Authentication.API/.DS_Store
/Authentication.API/*.pyc
/Authentication.API/nupkg/

# Visual Studio Code
#.vscode/

# Rider
/Authentication.API/.idea/

# Visual Studio
/Authentication.API/.vs/

# Fleet
/Authentication.API/.fleet/

# Code Rush
/Authentication.API/.cr/

# User-specific files
/Authentication.API/*.suo
/Authentication.API/*.user
/Authentication.API/*.userosscache
/Authentication.API/*.sln.docstates

# Build results
/Authentication.API/[Dd]ebug/
/Authentication.API/[Dd]ebugPublic/
/Authentication.API/[Rr]elease/
/Authentication.API/[Rr]eleases/
/Authentication.API/x64/
/Authentication.API/x86/
/Authentication.API/build/
/Authentication.API/bld/
/Authentication.API/[Bb]in/
/Authentication.API/[Oo]bj/
/Authentication.API/[Oo]ut/
/Authentication.API/msbuild.log
/Authentication.API/msbuild.err
/Authentication.API/msbuild.wrn




/Chat.API/*.swp
/Chat.API/*.*~
/Chat.API/project.lock.json
/Chat.API/.DS_Store
/Chat.API/*.pyc
/Chat.API/nupkg/

# Visual Studio Code
#.vscode/

# Rider
/Chat.API/.idea/

# Visual Studio
/Chat.API/.vs/

# Fleet
/Chat.API/.fleet/

# Code Rush
/Chat.API/.cr/

# User-specific files
/Chat.API/*.suo
/Chat.API/*.user
/Chat.API/*.userosscache
/Chat.API/*.sln.docstates

# Build results
/Chat.API/[Dd]ebug/
/Chat.API/[Dd]ebugPublic/
/Chat.API/[Rr]elease/
/Chat.API/[Rr]eleases/
/Chat.API/x64/
/Chat.API/x86/
/Chat.API/build/
/Chat.API/bld/
/Chat.API/[Bb]in/
/Chat.API/[Oo]bj/
/Chat.API/[Oo]ut/
/Chat.API/msbuild.log
/Chat.API/msbuild.err
/Chat.API/msbuild.wrn


/Domain/*.swp
/Domain/*.*~
/Domain/project.lock.json
/Domain/.DS_Store
/Domain/*.pyc
/Domain/nupkg/

# Visual Studio Code
#.vscode/

# Rider
/Domain/.idea/

# Visual Studio
/Domain/.vs/

# Fleet
/Domain/.fleet/

# Code Rush
/Domain/.cr/

# User-specific files
/Domain/*.suo
/Domain/*.user
/Domain/*.userosscache
/Domain/*.sln.docstates

# Build results
/Domain/[Dd]ebug/
/Domain/[Dd]ebugPublic/
/Domain/[Rr]elease/
/Domain/[Rr]eleases/
/Domain/x64/
/Domain/x86/
/Domain/build/
/Domain/bld/
/Domain/[Bb]in/
/Domain/[Oo]bj/
/Domain/[Oo]ut/
/Domain/msbuild.log
/Domain/msbuild.err
/Domain/msbuild.wrn


/Infrastructure/*.swp
/Infrastructure/*.*~
/Infrastructure/project.lock.json
/Infrastructure/.DS_Store
/Infrastructure/*.pyc
/Infrastructure/nupkg/

# Visual Studio Code
#.vscode/

# Rider
/Infrastructure/.idea/

# Visual Studio
/Infrastructure/.vs/

# Fleet
/Infrastructure/.fleet/

# Code Rush
/Infrastructure/.cr/

# User-specific files
/Infrastructure/*.suo
/Infrastructure/*.user
/Infrastructure/*.userosscache
/Infrastructure/*.sln.docstates

# Build results
/Infrastructure/[Dd]ebug/
/Infrastructure/[Dd]ebugPublic/
/Infrastructure/[Rr]elease/
/Infrastructure/[Rr]eleases/
/Infrastructure/x64/
/Infrastructure/x86/
/Infrastructure/build/
/Infrastructure/bld/
/Infrastructure/[Bb]in/
/Infrastructure/[Oo]bj/
/Infrastructure/[Oo]ut/
/Infrastructure/msbuild.log
/Infrastructure/msbuild.err
/Infrastructure/msbuild.wrn


/Application/*.swp
/Application/*.*~
/Application/project.lock.json
/Application/.DS_Store
/Application/*.pyc
/Application/nupkg/

# Visual Studio Code
#.vscode/

# Rider
/Application/.idea/

# Visual Studio
/Application/.vs/

# Fleet
/Application/.fleet/

# Code Rush
/Application/.cr/

# User-specific files
/Application/*.suo
/Application/*.user
/Application/*.userosscache
/Application/*.sln.docstates

# Build results
/Application/[Dd]ebug/
/Application/[Dd]ebugPublic/
/Application/[Rr]elease/
/Application/[Rr]eleases/
/Application/x64/
/Application/x86/
/Application/build/
/Application/bld/
/Application/[Bb]in/
/Application/[Oo]bj/
/Application/[Oo]ut/
/Application/msbuild.log
/Application/msbuild.err
/Application/msbuild.wrn



/Shared/*.swp
/Shared/*.*~
/Shared/project.lock.json
/Shared/.DS_Store
/Shared/*.pyc
/Shared/nupkg/

# Visual Studio Code
#.vscode/

# Rider
/Shared/.idea/

# Visual Studio
/Shared/.vs/

# Fleet
/Shared/.fleet/

# Code Rush
/Shared/.cr/

# User-specific files
/Shared/*.suo
/Shared/*.user
/Shared/*.userosscache
/Shared/*.sln.docstates

# Build results
/Shared/[Dd]ebug/
/Shared/[Dd]ebugPublic/
/Shared/[Rr]elease/
/Shared/[Rr]eleases/
/Shared/x64/
/Shared/x86/
/Shared/build/
/Shared/bld/
/Shared/[Bb]in/
/Shared/[Oo]bj/
/Shared/[Oo]ut/
/Shared/msbuild.log
/Shared/msbuild.err
/Shared/msbuild.wrn


/Presentation/*.swp
/Presentation/*.*~
/Presentation/project.lock.json
/Presentation/.DS_Store
/Presentation/*.pyc
/Presentation/nupkg/

# Visual Studio Code
#.vscode/

# Rider
/Presentation/.idea/

# Visual Studio
/Presentation/.vs/

# Fleet
/Presentation/.fleet/

# Code Rush
/Presentation/.cr/

# User-specific files
/Presentation/*.suo
/Presentation/*.user
/Presentation/*.userosscache
/Presentation/*.sln.docstates

# Build results
/Presentation/[Dd]ebug/
/Presentation/[Dd]ebugPublic/
/Presentation/[Rr]elease/
/Presentation/[Rr]eleases/
/Presentation/x64/
/Presentation/x86/
/Presentation/build/
/Presentation/bld/
/Presentation/[Bb]in/
/Presentation/[Oo]bj/
/Presentation/[Oo]ut/
/Presentation/msbuild.log
/Presentation/msbuild.err
/Presentation/msbuild.wrn




/SendProcessor/*.swp
/SendProcessor/*.*~
/SendProcessor/project.lock.json
/SendProcessor/.DS_Store
/SendProcessor/*.pyc
/SendProcessor/nupkg/

# Visual Studio Code
#.vscode/

# Rider
/SendProcessor/.idea/

# Visual Studio
/SendProcessor/.vs/

# Fleet
/SendProcessor/.fleet/

# Code Rush
/SendProcessor/.cr/

# User-specific files
/SendProcessor/*.suo
/SendProcessor/*.user
/SendProcessor/*.userosscache
/SendProcessor/*.sln.docstates

# Build results
/SendProcessor/[Dd]ebug/
/SendProcessor/[Dd]ebugPublic/
/SendProcessor/[Rr]elease/
/SendProcessor/[Rr]eleases/
/SendProcessor/x64/
/SendProcessor/x86/
/SendProcessor/build/
/SendProcessor/bld/
/SendProcessor/[Bb]in/
/SendProcessor/[Oo]bj/
/SendProcessor/[Oo]ut/
/SendProcessor/msbuild.log
/SendProcessor/msbuild.err
/SendProcessor/msbuild.wrn



# Test
/test/[Bb]in/
/test/[Oo]bj/



# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
/client.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*



# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
/client.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*


/scripts
/mongo-db