@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 62.5%;
}

[data-theme="light"] {
  --bg-color: white;
  --text-color: black;
  --box-shadow-color: purple;
  --nav-bg-color: #f5f5f5;
  --darkmode-toggle-bd-color: black;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: white;
  --box-shadow-color: white;
  --nav-bg-color: #252525;
  --darkmode-toggle-bd-color: #252525;
}

html,
body,
#root {
  font-size: 1.6rem;
}

@layer components {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}