@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 62.5%;
}

[data-theme="light"] {
  --bg-color: white;
  --text-color: black;
  --box-shadow-color: purple;
  --nav-bg-color: #f5f5f5;
  --darkmode-toggle-bd-color: black;
  --text-morderator-color: white;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: white;
  --box-shadow-color: white;
  --nav-bg-color: #252525;
  --darkmode-toggle-bd-color: #252525;
  --text-morderator-color: rgb(251 146 60 / var(--tw-bg-opacity));
}

html,
body,
#root {
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

@layer components {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .item-active {
    @apply bg-blue-500 text-white;
  }

  .grid-transition {
    transition: all 2s;
  }
}
