@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 62.5%;
}

[data-theme="light"] {
  --bg-color: white;
  --text-color: black;
  --box-shadow-color: purple;
  --nav-bg-color: #f5f5f5;
  --darkmode-toggle-bd-color: black;
  --text-morderator-color: white;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: white;
  --box-shadow-color: white;
  --nav-bg-color: #252525;
  --darkmode-toggle-bd-color: #252525;
  --text-morderator-color: rgb(251 146 60 / var(--tw-bg-opacity));
}

html,
body,
#root {
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  scrollbar-width: none;
}

@layer components {
  .hide-scrollbar {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none; /* For Firefox */
  }

  .item-active {
    @apply bg-purple-200 hover:!bg-purple-200;
  }

  .grid-transition {
    transition: all 2s;
  }

  .mention-input {
    border-radius: 0;
    border: none !important;
    box-shadow: none !important;

    &:hover {
      outline: unset !important;
    }
    textarea {
      border: 0.2rem rgb(226, 226, 226) solid;
      border-radius: 1rem;
      padding: 0.7rem 4rem 0.7rem 2rem;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
      scrollbar-width: none; /* For Firefox */
    }
  }

  .close-button {
    background-image: var(--bs-btn-close-bg);
  }

  /* .input-focus-placeholder {
    @apply !translate-y-[-150%] !scale-[.9] !bg-white !text-purple-400;
  }

  .input-focus {
    @apply !border-purple-400 !shadow-[0_0_10px_-2px_#e4cbff];
  } */

  .input-focus {
    @apply !border-b-purple-400;
  }

  .input-focus-placeholder {
    @apply !translate-y-[-170%] !scale-[.9] !bg-white !text-purple-400;
  }

  .input-focus-border {
    @apply !w-full;
  }

  .error-show {
    @apply !scale-x-100;
  }
}
