.animated-background {
    display: flex;
    justify-content: space-between;
    /* gap: 3px; */
}

.animated-background span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(42, 219, 210);
    box-shadow: 0 0 4px 5px rgb(11, 83, 79);
    animation: flow linear infinite;
    animation-duration: calc(100s / var(--i));
}

.animated-background span:nth-child(even) {
    background: rgb(250, 77, 77);
    box-shadow: 0 0 4px 5px rgb(171, 29, 29);
}

@keyframes flow {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}