.grid-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.grid-item {
    background-image: var(--item-image);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size .3s;
    display: grid;
    align-items: end;
}

.grid-item:hover {
    background-size: 120% 120%;
}

.grid-item .content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, 40px);
    place-items: center;
}

.champ-name {
    color: aqua;
    text-align: center;
    grid-area: 1 / 1 / 2 / 4;
}

.champ-name p {
    margin: 0;
}

.champ-avatar {
    grid-area: 2 / 1 / 4 / 2;
    border: 2px solid black;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    align-self: end;
}

.champ-skill {
    display: flex;
    gap: 10px;
}

.skill-1,
.skill-2,
.skill-3,
.loading {
    border: 2px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-name {
    grid-area: 3 / 2 / 4 / 4;
    text-align: center;
    color: white;
}