/* Header */

header {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    transition: background-color .7s ease-in;
}

header .header-item {
    flex: 1 1 0;
}

header .header-item:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header a {
    text-decoration: none;
    color: black;
    transition: color .7s;
}

/* Header when scroll */

header.scroll {
    /* background-color: whitesmoke; */
    background-color: rgb(117, 209, 42);
}

header.scroll a {
    color: black;
}

/* Navigation */

header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 10px;
}

/* Main menu */

.burger {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transform: scaleY(0);
}

.burger div {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: background-color .5s ease-in;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    background-color: rgb(214, 169, 121);
    transform: scaleY(0);
    transition:
        transform .3s,
        background-color .7s ease-in;
    overflow: hidden;
    z-index: 99;
}

.main-menu li {
    position: relative;
}

.main-menu li a.active:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    border: 1px solid red;
    bottom: 0;
}

.main-menu li a:before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    border: 0 solid rgb(247, 119, 119);
    bottom: 0;
    transition: width .3s;
}

.main-menu li a:hover:before {
    width: 50%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

/* User info */

.user-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    position: relative;
}

.user-info .profile-icon {
    height: 20px;
    transition: transform .7s;
}

.user-info .profile-menu {
    background: rgb(214, 169, 121);
    border-radius: 10px;
    flex-direction: column;
    align-items: start;
    position: absolute;
    width: clamp(160px, 17vw, 200px);
    right: 0;
    top: 25px;
    gap: 5px;
    overflow: hidden;
    z-index: 99;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform .3s;
}

.user-info .profile-icon:hover~.profile-menu,
.user-info .profile-menu:hover {
    transform: scaleY(1);
}

.user-info .profile-menu li {
    transition: padding-left .3s;
}

.user-info .profile-menu li:hover {
    background: rgba(255, 212, 156, 0.699);
    padding-left: 10px;
    cursor: pointer;
}

.user-info .profile-menu li a {
    padding-left: 5px;
}

/* Button login */

.cta-login {
    /* background: whitesmoke; */
    background: rgb(211, 211, 211);
    color: black;
    border-radius: 50px;
    padding: 0 10px;
    transition: transform .7s;
}

.cta-login:hover {
    background: rgb(211, 211, 211);
}

/* Button login when scroll */

.cta-login.scroll,
.profile-icon.scroll {
    transform: translateX(-40px);
}

.cta-login.scroll {
    background: rgb(211, 211, 211);
}

.cta-login.scroll:hover {
    background: rgb(155, 155, 155);
}

/* Button scroll to top */

.scroll-to-top {
    color: black;
    position: absolute;
    top: -100px;
    right: -5px;
    /* width: height; */
    /* set width equals height */
    aspect-ratio: 1 / 1;
    height: 100%;
    /* font-size: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50%;
    transition: transform .7s;
}

/* Button scroll to top when scroll */

.scroll-to-top.scroll {
    transform: translateY(100px);
}

/* Responsive */

@media (width < 992px) {
    .burger {
        transform: scaleY(1);
    }

    .main-menu {
        flex-direction: column;
        position: absolute;
        top: 25px;
        gap: 5px;
        width: clamp(150px, 100%, 200px);
        border-radius: 10px;
        padding: 5px 0;
        transform-origin: top;
    }

    .burger:hover~.main-menu,
    .main-menu:hover {
        transform: scaleY(1);
    }

    .cta-login.scroll {
        background: rgb(211, 211, 211);
        transform: translateX(-40px);
    }
}

@media (width >=992px) {
    header .header-item:nth-child(2) {
        flex-grow: 2;
    }

    .burger {
        position: absolute;
    }

    .main-menu {
        transform: scaleY(1);
        width: clamp(500px, 100%, 800px);
    }
}