/* Wrapper */

.login-wrapper {
    margin: 0 auto;
    /* width: 50%;
    max-width: 350px; */
    height: 100%;
    min-height: 750px;
    display: flex;
    align-items: center;
}


.login-wrapper a {
    text-decoration: none;
}

/* Login section */

.login {
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 40px;
    background-color: white;
    position: relative;
}

.title {
    text-align: center;
}


.user-input p,
.user-input input {
    margin: 5px 0;
}

.user-input input {
    font-family: FontAwesome;
    border: none;
    border-bottom: 2px outset;
    width: 100%;
}


.forgot-password {
    text-align: end;
    margin: 5px 0 20px 0;
    color: black;
}


.cta-submit {
    color: white;
    background-color: #cc81db;
    padding: 7px 0;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.error-message {
    color: red;
    text-align: center;
    display: none;
}

.error-message.active {
    display: block;
}


.other {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.other .other-login {
    text-align: center;
}

.other .other-login .icon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.other .other-login .icon a {
    font-size: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.other .other-login .icon .facebook {
    background: rgb(7 102 255);
}

.other .other-login .icon .twitter {
    background: rgb(31, 118, 199);
}

.other .other-login .icon .google {
    background: rgb(172, 13, 13);
}


.other .signup {
    text-align: center;
}

.other .signup p {
    margin-bottom: 0;
}

.other .signup .cta-signup {
    color: rgb(0, 141, 7);
    cursor: pointer;
}

/* Responsive */

/* @media (width < 768px) {
    .login-wrapper {
        font-size: 1.5rem;
    }

    .login {
        height: 55%;
    }

    .login .title h1 {
        font-size: 4rem;
    }

    .login .cta-submit {
        padding: 5px 0;
    }

    .login .other .other-login .icon a {
        font-size: 1.5rem;
        width: 30px;
        height: 30px;
    }
}

@media (width >=768px) {
    .login-wrapper {
        max-width: 300px;
        font-size: 1.5rem;
    }

    .login {
        height: 60%;
    }

    .login .title h1 {
        font-size: 4.3rem;
    }

    .login .cta-submit {
        padding: 5.5px 0;
    }

    .login .other .other-login .icon a {
        font-size: 1.8rem;
        width: 35px;
        height: 35px;
    }
}

@media (width >=992px) {
    .login {
        height: 65%;
    }

    .login .title h1 {
        font-size: 4.5rem;
    }

    .login .cta-submit {
        padding: 6px 0;
    }

    .login .other .other-login .icon a {
        font-size: 2rem;
        width: 40px;
        height: 40px;
    }
}

@media (width >=1400px) {
    .login .cta-submit {
        padding: 7px 0;
    }

    .login .other .other-login .icon a {
        font-size: 2.5rem;
        width: 45px;
        height: 45px;
    }
} */