/* Wrapper */

.login-wrapper {
    margin: 0 auto;
    width: 30%;
    max-width: 350px;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}


.login-wrapper a {
    text-decoration: none;
}

/* Login section */

.login {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 40px;
    background-color: white;
    position: relative;
}

.login .title {
    text-align: center;
}


.login .user-input p,
.login .user-input input {
    margin: 5px 0;
}

.login .user-input input {
    font-family: FontAwesome;
    border: none;
    border-bottom: 2px outset;
    width: 100%;
}


.login .forgot-password {
    text-align: end;
    margin: 5px 0 20px 0;
    color: black;
}


.login .cta-submit {
    color: white;
    background-color: #cc81db;
    padding: 7px 0;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.login .error-message {
    color: red;
    text-align: center;
    display: none;
}

.login .error-message.active {
    display: block;
}


.login .other {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.login .other .other-login {
    text-align: center;
}

.login .other .other-login .icon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.login .other .other-login .icon a {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login .other .other-login .icon .facebook {
    background: rgb(7 102 255);
}

.login .other .other-login .icon .twitter {
    background: rgb(31, 118, 199);
}

.login .other .other-login .icon .google {
    background: rgb(172, 13, 13);
}


.login .other .signup {
    text-align: center;
}

.login .other .signup p {
    margin-bottom: 0;
}

.login .other .signup .cta-signup {
    color: rgb(0, 141, 7);
    cursor: pointer;
}


/* Responsive */

@media (width < 576px) {
    .login-wrapper {
        width: 60%;
        min-width: 250px;
        min-height: 750px;
        font-size: 1.5rem;
    }

    .login {
        height: 65%;
    }

    .login .title h1 {
        font-size: 4rem;
    }

    .login .cta-submit {
        padding: 6px 0;
    }

    .login .other .other-login .icon a {
        font-size: 1.5rem;
        width: 35px;
        height: 35px;
    }
}