html,
body,
#root,
.wrapper {
    font-size: clamp(1.1rem, 2vw, 1.2rem);
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}


.wrapper {
    padding-bottom: 20px;

    >section {
        padding-left: 10px;
        padding-right: 10px;

        &:not(:nth-child(2)) {
            margin-top: 20px;
        }
    }

    >nav {
        height: clamp(30px, 50%, 70px);
        background: whitesmoke;
        position: sticky;
        top: 0;
        z-index: 99;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 3px 5px var(--box-shadow-color);
        padding: 0 5px;

        >h1 {
            margin: 0;
        }

        .navigation {
            height: 30%;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 10px;

            .main-menu {
                display: flex;
                gap: 10px;

                >li {
                    >a {
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            width: 50%;
                            height: 2px;
                            background: red;
                        }
                    }
                }
            }

            .burger-menu {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                >div {
                    width: 20px;
                    height: 3px;
                    background: black;
                }
            }

            .dark-mode-wrapper {
                position: relative;

                .dark-mode-label {
                    display: block;
                    width: 45px;
                    height: 20px;
                    background-color: #a8a8a8;
                    border-radius: 10px;
                    position: relative;
                    cursor: pointer;
                    font-size: 16px;

                    &::before {
                        content: '';
                        width: 17px;
                        aspect-ratio: 1/1;
                        background-color: #ffc228;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        transform: translate(10%, -50%);
                        transition: transform .5s;
                        z-index: 2;
                    }

                    .fa-moon,
                    .fa-sun {
                        position: absolute;
                        top: 2px;
                    }

                    .fa-moon {
                        color: coral;
                        left: 2px;
                    }

                    .fa-sun {
                        color: gold;
                        right: 2px;
                    }
                }

                .dark-mode {
                    opacity: 0;
                    position: absolute;

                    &:checked {
                        +.dark-mode-label {
                            &::before {
                                transform: translate(26px, -50%);
                            }
                        }
                    }
                }
            }
        }
    }

    .hero {
        width: 100%;
        /* height: 90%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        /* >div,
        >img {
            flex: 1 1 0;
        } */

        .profile-image {
            width: clamp(450px, 80%, 600px);
            padding: 20px;
        }

        .introduction {
            width: clamp(400px, 50%, 600px);
            padding: 5px;
            border-radius: 5px;
            box-shadow: 0 0 10px var(--box-shadow-color);
        }
    }

    .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        .skill-set {
            display: flex;
            gap: 25px;

            .skill {
                width: clamp(100px, 20vw, 300px);
                aspect-ratio: 1 / 1;
                border-radius: 10px;
                box-shadow: 0 0 10px var(--box-shadow-color);
            }
        }
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;

        .projects-wrapper {
            width: clamp(400px, 50%, 600px);
            overflow: hidden;
            padding: 10px;
        }

        .project-content {
            display: flex;
            gap: 20px;
            transition: transform .5s;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;

            &::-webkit-scrollbar {
                display: none;
            }

            .project {
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 10px;
                border: 2px solid var(--box-shadow-color);
                width: clamp(100px, 100%, 600px);
                aspect-ratio: 2 / 1;
                padding: 10px 50px;
                transform-origin: center center;
                scroll-snap-align: center;
                position: relative;

                .project-detail {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .project-image {
                        width: clamp(100px, 60%, 300px);
                        aspect-ratio: 1 / 0.5;
                        border: 2px solid var(--box-shadow-color);
                    }

                    >p {
                        text-align: center;
                    }
                }


                .back-project,
                .next-project {
                    position: absolute;
                    top: 50%;
                }

                .back-project {
                    left: 5%;
                }

                .next-project {
                    right: 5%;
                }
            }
        }
    }
}

.scroll-to-top {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    border: 2px solid var(--box-shadow-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 1s;

    &:hover {
        transform: rotateY(360deg);
    }
}

/* Responsive */

@media (width < 768px) {
    .main-menu {
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 10px;
        background: var(--box-shadow-color);
        transform: scaleY(0);
        overflow: hidden;
        transition: transform .5s;
        transform-origin: top;

        &:hover {
            transform: scaleY(1);
        }
    }

    .burger-menu {
        &:hover {
            +.main-menu {
                transform: scaleY(1);
            }
        }
    }
}

@media (width > 768px) {
    .wrapper {
        .hero {
            flex-direction: row;

            .profile-image {
                width: 50%;
            }
        }
    }

    .main-menu {
        flex-direction: row;
        transform: scaleY(1);
        position: inherit;
        background: none;
    }

    .burger-menu {
        scale: 0;
    }
}

/* @media (width > 992px) {
    .wrapper {
        .hero {
            flex-direction: row;
        }
    }
} */

@media (width > 1280px) {
    .wrapper {
        .projects {
            .projects-wrapper {
                width: 100%;

                .project-content {
                    justify-content: space-evenly;

                    .project {
                        width: clamp(100px, 30vw, 600px);
                        padding: 10px;

                        .back-project,
                        .next-project {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}