.conversation-action-container {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-evenly;
}

.conversation-action {
  width: 3rem;
  aspect-ratio: 1 / 1;
  background-color: var(--bg-color-thin);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: var(--bg-color-light);
  }
}
