.message-bubble {
  transition: all 0.3s ease;
}

.message-bubble:hover {
  transform: translateY(-1px);
}

.image-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent 40%);
}

.mosaic-overlay {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
}

.message-time {
  position: absolute;
  bottom: 5%;
  opacity: 0;

  font-size: var(--text-3xs);
  font-weight: 300;

  .peer:hover ~ &,
  .message-menu-container:hover ~ & {
    opacity: 1;
  }

  &[data-mine="true"] {
    right: -2.2rem;
  }
  &[data-mine="false"] {
    left: -2.5rem;
  }
}
